body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url('https://vignette.wikia.nocookie.net/freakproductions/images/5/50/Wiki-background/revision/latest?cb=20160104180124&path-prefix=es');
  background-repeat: no-repeat;
  background-size: auto;
  background-attachment: fixed;
  font-family: "Arial Black", Gadget, sans-serif;
  font-size: 14px;
  color: #000000;
  font-weight: normal;
  font-variant: small-caps;

  input {
    border: 3px solid #1c6ea4;
    border-radius: 15px;
  }

  header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    img {
      height: 100px;
    }

    #formHeader {
      margin-top: 5px;
    }
  }

  #containerPokemons {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    justify-self: center;
    justify-content: space-between;

    .divPokemon {
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      margin-right: 10px;
      margin-bottom: 10px;
      width: 170px;
      height: 170px;
      border: 1px solid rgb(48, 59, 219);
      background-color: rgb(255, 235, 124);
      border-radius: 10px 10px 10px 10px;
    }
  }

  #divPokedex {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.671);

    #pokedex {
      display: flexbox;
      background-image: url('img/pokedex2.png');
      background-size: cover;
      background-repeat: no-repeat;
      width: 650px;
      height: 440px;

      img {
        position: relative;
        top: 130px;
        left: 34px;
      }

      #types {
        display: flex;
        flex-direction: column;
        position: relative;
        top: -400px;
        align-content: space-between;
        
        img {
          width: 40px;
          height: 20px;
          margin-bottom: 10px;
        }
      }

      .attacks {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 260px;
        left: 360px;
        top: 15px;

        .attack {
          width: 260px;
          height: 68px;
          background-color: rgb(255, 255, 255);
          border-radius: 10px 10px 10px 10px;
          margin-bottom: 5px;
          text-align: center;
        }

        .one {

        }
        .two {

        }
        .three {

        }
        .four {

        }
      }

      p {
        position: absolute;
        top: 594px;
        left: 380px;
      }
    }
  }

  #divCarga {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(243, 243, 243, 0.664);

    img {
      width: 270px;
      height: 300px;
    }

    p {
      font-size: larger;
    }
  }
}
