body {
  margin: 0;
}
body input {
  border: 3px solid #1c6ea4;
  border-radius: 15px;
}
body header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
body header img {
  height: 100px;
}
body header #formHeader {
  margin-top: 5px;
}
